<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <fieldset class="pb-2" id="email-field">
                        {{ form.email.label }}
                        {{ form.email(class = "form-control", placeholder = "Please Enter Email") }}
                    </fieldset>
                    <fieldset class="pb-3" id="password-field">
                        {{ form.password.label }}
                        {{ form.password(class = "form-control", placeholder = "Please Create a Password") }}
                    </fieldset>
                    {{ form.submit_button(class = "btn btn-secondary btn-block") }}
                </div>
            </form>
        </aside>
    </div>
</main>