{% extends 'base.html' %}

{% block content %}
<h2 class="container form-container">Sign In With Your Account Information</h2>
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif cat == 'auth-failed' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif cat == 'logout' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% include 'form.html' %}
<script src="../static/js/bootstrap.bundle.min.js"></script>

        <script>
            var nav = document.querySelector('nav')

            nav.classList.add('bg-dark', 'shadow');
        </script>
{% endblock content %}