{% extends 'base.html' %}

{% block content %}

<!-- Banner Image -->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <p id="main">Adam's Groceries</p>
        <p>International Flavor, Local Prices</p>
    </div>
</div>
<div class="container">
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Our Worldwide Network</h2>
            <p>Bring the taste of the world into your own home. Check out our items below or contact us for special orders</p>
            <div id="middle-buttons">
                <button class="btn btn-secondary">Inventory</button>
                <button class="btn btn-secondary">Contact Us</button>
            </div>
        </div>
    </section>
    <section class="row" id="fresh-items">
        <h4>Check out our freshest items!</h4>
        <div class="col-12 col-md-4">
            <img src="../../static/images/avocado.jpg" alt="Avocados" id="avo-img">
            <p>Avocados from Mexico</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/mushrooms.jpg" alt="Mushrooms" id="mush-img">
            <p>Mushrooms from Japan</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/tomatoes.jpg" alt="Tomatoes" id="tom-img">
            <p>Tomatoes from Italy</p>
        </div>
    </section>
</div>
<footer>
    <div class="row">
        <ul>
            <li><a href="{{ url_for('site.home') }}">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Inventory</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div id="footer-images">
    <img src="../static/images/start.png" alt=""><img src="../static/images/groceries.png" alt="Logo">
    </div>
    <p>Adam's Groceries, &copy; 2021</p>
</footer>

<script src="../static/js/bootstrap.bundle.min.js"></script>

        <script>
            var nav = document.querySelector('nav')

            window.addEventListener('scroll', function(){
                if(window.pageYOffset > 550){
                    nav.classList.add('bg-dark', 'shadow');
                }else{
                    nav.classList.remove('bg-dark', 'shadow');
                }
            })
        </script>
{% endblock content %}